/* /* @import url("https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

#logo{
  font-family: 'Rubik Broken Fax', cursive;
  font-size: 50px;
}

#hero{
  font-family: 'Rubik Broken Fax', cursive;
}

.image-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.image-drop-zone {
  border: 2px dashed #444343;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-drop-zone p {
  margin: 0;
  font-size: 18px;
  color: #555;
}

.upload-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0e2339;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.upload-button:hover {
  background-color: #0056b3;
}

.upload-button:focus {
  outline: none;
}

.image-container {
  max-width: 100px; /* Full width of the drop zone */
  max-height: 50vh; /* Limit the height */
  margin-bottom: 20px; /* Space above the upload button */
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded-image {
  max-width: 100%; /* Ensure it doesn't overflow the container */
  max-height: 100%; /* Limit height to the container's size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cancel-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cancel-button:hover {
  background-color: #cc0000;
}

.cancel-button:focus {
  outline: none;
}
#hero {
  position: relative;
}
#hero::after{
  content: '';
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  top: -50%;
  right: 10%;
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 461px;
  border: 1px solid #000;
  background: #7a0ead99;
  filter: blur(50px);
  outline: solid white;
  animation: colorChangingAnimation 5s linear infinite;
  opacity: 0.3;
}


@keyframes colorChangingAnimation {
  0%,100% {
    background: #7a0ead99;
  }
  25%,75% {
    background: #00ff00;
  }
  50% {
    background: #cc00ff;
  }
}

#output {
  color: white;
  padding-inline: 8rem;
  margin-top: 3rem;
  font-family: monospace, sans-serif;
}
#output > :first-child {
  text-align: center;
  font-size: 2.5rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}